@charset "utf-8";

* { box-sizing: border-box; }
body {
  margin: 0;
  padding: 0;
  color: #fff;
}
p {
  font-size: 14px;
  line-height: 1;
}


.slideArea {
  max-width: 100%;
  margin: 0 auto;
  padding: 25px 25px;
  background-color: #000;
}

.slick-slide {
  margin: 10px 5px;
}
.slick-slide img {
  width: 100%;
  height: auto;
}
