* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  margin: 30px;
}

p {
  padding: 5px;
  width: 500px;
  text-align: right;
  background-color: #000;
  font-size: 32px;
  color: #fff;
}

form {
  width: 500px;
}

div {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

input[type="button"] {
  margin: 2px;
  padding: 5px;
  width: 500px;
  font-size: 22px;
  font-weight: 900;
  border-radius: 5px;
  border: solid 2px #000;
  background-color: #ddd;
}
